
.root {
	background-color:white;
	height:100%;
	padding-top: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
}
.phonenum {

}
.codeDiv {
	margin-top: 5vh;
	margin-bottom: 10vh
}
.code {
	width: 40vw;
}
.send {
	width: 40vw;
}
.login {

}
.contact {
	align-self: flex-end;
	margin-top: 5vh;
}
