.root {
	background-color:white;
	padding-top: 2vh;
	padding-left: 5vw;
	padding-right: 5vw;
}
.item{
	height : 10vh
}
.select{
	margin-top: 2vh
}
.img{
	height: 95vh
}
.delete {
	color: white
}
.tilebar {
	height : 5vh
}
.gridList {
	height : 40vh
}
.desc {
	height : 20vh
}
